*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

:root{
  --primary-color:rgb(227,54,73);
  --primary-color-brighter:rgb(255, 54, 74);
  --dark-black: rgb(13, 13, 13); 
}

body{
  min-height: 100vh;
  color: #fff;
}

/* Header */

.header__logo{
  width: 15%;
  max-width: 175px;
}

.header{
  background-color: var(--dark-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.menu__list{
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: min(5vw, 10rem);
}

.menu__item{
  font-size: 2rem;
  padding: 1.5rem 1.5rem;
  cursor: pointer;
  list-style-type: none;
  color: #fff;
}

.active-page{
  position: relative;
}

.active-page::before{
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--primary-color-brighter);
  position: absolute;
  bottom: 10px;
  left: 0;
}

.main{
  width: 100%;
  min-height: calc(100% - 679px);
  padding-bottom: 5rem;
  background-color: var(--dark-black);
}

/* Home page */

.home__content{
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.home__message{
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.significance{
  color: var(--primary-color);
}

.home__order-now{
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  background-color: var(--primary-color);
  border-radius: 30px;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  width: max-content;
  align-self: center;
}

.home__order-now:hover{
  background-color: var(--primary-color-brighter);
}

.home__image{
  width: 80%;
  margin: 2rem auto 2rem auto;
}

.home__cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 4rem;
  padding-bottom: 5rem;
}

.home__card{
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 8px;
}

.home__card-title{
  color: #fff;
  font-size: 3.9rem;
  margin-top: 8rem;
  text-align: center;
  text-shadow: 1px 1px #000;
}

.home__app-card{
  background: url('../src/images/close-up-male-hands-using-smartphone.jpg');
  object-fit: cover;
  background-size: cover;
  gap: 5rem;
}

.home__download-button,
.home__contact-button,
.home__check-button,
.home__send-message-button{
  border: none;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: 2rem;
  width: 200px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__download-button:hover,
.home__contact-button:hover,
.home__check-button:hover,
.home__send-message-button:hover{
  background-color: var(--primary-color-brighter);
}

.home__hiring-card{
  background: url('../src/images/business-job-interview-concept.jpg');
  object-fit: cover;
  background-size: cover;
  gap: 5rem;
}

.home__featured-card{
  background: url('../src/images/pexels5dark.jpg');
  background-position: center center;
  object-fit: cover;
  background-size: cover;
  gap: 5rem;
}

.home__suggestion-card{
  background: url('../src/images/person-placing-paper-in-box.jpg');
  background-position: center center;
  object-fit: cover;
  background-size: cover;
  gap: 5rem;
}


/* Menu */

.menu__title{
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.menu__full-menu{
  width: 100%;
  box-sizing: border-box;
  padding: 5rem;
}

/* About */

.about__content{
  box-sizing:border-box;
  width: 70%;
  max-width: 1100px;
  margin: 0 auto 5rem auto;
  position: relative;
  top: 5rem;
  background-color: rgb(44, 44, 44);
  padding: 3rem;
  display: flex;
  gap: 5rem;
}

.about__left-side{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__right-side{
  flex: 1;
}

.about__title{
  font-size: 2.8rem;
  line-height: 2;
  margin-bottom: 2rem;
}

.about__see-menu-button{
  border: none;
  background-color: var(--primary-color);
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  width: max-content;
  font-weight: bold;
}

.about__see-menu-button:hover{
  background-color: var(--primary-color-brighter);
}

.about__text{
  font-size: 1.6rem;
  line-height: 1.8;
}

/* Contact */

.contact__content{
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__map-container{
  width: 100%;
  margin-bottom: 3rem;
}

.contact__map{
  width: 100%;
}

.contact__info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  color: #fff;
}

.contact__panel{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.contact__title{
  font-size: 3rem;
}

.contact__phone-title{
  text-align: center;
}

.contact__phone-icon{
  font-size: 3.3rem;
  color: rgb(77, 162, 252);
}

.contact__phone-number{
  font-size: 3.3rem;
  font-weight: 600;
  color: var(--primary-color);
}

.contact__email{
  font-size: 1.8rem;
}

.contact__address-icon{
  font-size: 4rem;
  text-align: center;
  color: rgb(77, 162, 252);
}

.contact__address{
  font-size: 1.8rem;
}

.contact__opening-hours-row{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.8rem;
  box-sizing: border-box;
  padding: 0 1rem;
}

.contact__opening__day{
  display: inline;
}

.contact__opening__hours{
  display: inline;
}

@media screen and (max-width: 1100px){

  .header__logo{
    min-width: 120px;
  }
  
  .home__cards{
    grid-template-columns: 1fr;
  }

  .home__content{
    width: 100%;
  }

  .home__card{
    width: 60%;
  }

  .menu__full-menu{
    padding: 0;
  }

  .about__content{
    flex-direction: column;
  }

  .about__left-side{
    text-align: center;
    align-items: center;
  }

  .contact__info{
    flex-direction: column;
    gap: 5rem;
  }

  .contact__opening-hours-row{
    box-sizing: border-box;
    padding: 0 10%;
  }
}

@media screen and (max-width: 700px){

  .home__image{
    width: 90%;
  }

  .home__card{
    width: 80%;
  }

  .about__content{
    width: 90%;
  }

  .contact__content{
    width: 90%;
  }
}